.btn {
  border: none;
  background-color: inherit;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.success {
  background-color: green;
  color: white;
}

.info {
  background-color: #1976d2;
  color: white
}

.warning {
  background-color: orange;
  color: white;
}

.danger {
  background-color: red;
  color: white
}

.link {
  background-color: transparent;
  color: #1976d2;
}

.link:hover {
  border: 1px solid #1976d2;
}

.default {
  color: #333;
  background-color: #fff;
}